head {
 background-color: green;
}

body {
    background-color: rgba(255, 208, 0, 0.733);
    text-align: center;
    position: relative;
    margin: 5px;
    padding: 15px 32px;
              }
p {
    text-align: center;
    text-justify: distribute-all-lines;
    background-color: black;
    color: white;
    padding: 15px;
    border: 0.5px dotted white ;
    margin: 5px;
   }
text {
    text-align: center;
    text-justify: distribute-all-lines;
    background-color: black;
    color: white;
    padding: 15px;
    border: 0.5px dotted white ;
    margin: 5px;
   }

.hide {
    display: none;
}

.show {
    display: block;
  }

h1 {
    font-size: 30;
    text-align: center;
    font-family: fantasy; 
}

h2 {
    font-size:medium;
    font-weight:normal;
    border-width: 1px;
  border-style: solid;
  border-color: black;
  font-style: italic;
}
h3 {
 font-size: x-large;
 color: black;
}

p1 {
    color: grey;
}
.con_borde {
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}
p2 {
    font-style: italic;
}
picture {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    width: auto;
  }